.SystemBody{
    height: auto;
    width: auto;
    flex-direction: column;
    display: flex;
}
.SystemDivLine{
    height: 50px;
}
.SystemIcon{
    font-size: 30px;
    animation: 2s ease-out 0s 1 FadeIn;
}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
.SystemButtonDiv{
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    background-color: aquamarine;
    animation: 2s ease-out 0s 1 FadeIn;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.SystemButton{
    background-color: #3fa46a;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 25px;
}