.LightCartBody{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0.3, 0, 0.3);
}
.LightCartBody{
    font-size: 20px;
}
.LightCartBox{
    display: flex;
    flex-direction: row;
}
.LightCartImg{
    height: 200px;
    width: 150px;
}
.LightCartDownDiv{
    height: auto;
    width: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.LightCartDownP{
    font-size: 20px;
}

.LightCartLine{
    height: 1.5px;
    width: 170px;
    margin-left: 65px;
    margin-top: -10px;
    background-color: rgb(165, 159, 159);
}
.LightCartSwBox{
    flex-direction: row;
    display: flex;
}
.LightCartSwitch{
    margin: 0px;
    margin-top: -15px;
    margin-left: -25px;
}
.LightCartBoxDiv{
    height: 140px;
    width: 140px;
    border-radius: 15px;
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    
}
.LightCartBodyDiv{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.LightCartIcon{
    margin-top: 6px;
    margin-left: 10px;

}
.LightCartBodyP{
    margin-left: 50px;
}
.LightCartONButton{
    border: none;
    height: 1px;
    width: 1px;
    background-color: aqua;
    margin-top: 15px;
    margin-left: 15px;
}