.LightCartBody{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0.3, 0, 0.3);
}
.LightCartBody{
    font-size: 20px;
}
.LightCartBox{
    display: flex;
    flex-direction: row;
}
.LightCartImg{
    height: 200px;
    width: 150px;
}
.LightCartDownDiv{
    height: auto;
    width: auto;
    background-color: rgb(112, 251, 205);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.LightCartDownP{
    font-size: 20px;
}

.LightCartLine{
    height: 1.5px;
    width: 170px;
    margin-left: 65px;
    margin-top: -10px;
    background-color: rgb(165, 159, 159);
}
.LightCartSwBox{
    flex-direction: row;
    display: flex;
}
.LightCartSwitch{
    margin: 8px;
}
.LightCartBoxDiv{
    height: 140px;
    width: 140px;
    border-radius: 15px;
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    
}