.ChangeBox{
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    border-color: rgb(2, 162, 60);
    margin: 100px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.changeh2{
    margin-top: 15px;
}
.changeInputDiv{
    height: 40px;
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    border-color: rgb(158, 157, 157);
}
.changeInput{
    height: auto;
    width: 90%;
    background-color:transparent;
    border-width: 1px;
    border-radius: 20px;
    margin-top: 5px;
    border: none;
    outline: none;
}