.FooterPage{
    height: auto;
}
.FooterLineDive{
    height: .5px;
    width: 95%;
    margin-left: 2.5%;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.FooterBody{
    height: 500px;
    width: 100%;
    margin-top: 10px;
    background-color: #3fa46a;
}
.FooterFastDiv{
    height: 80px;
    background-color: #3fa46a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.FooterFastDivText{
    color: rgb(253, 253, 253);
}
.FooterScendDiv{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.FooterScendLeft{
    height: auto;
    width: auto;
    margin-left: 30px;

}
.footerImage{
    height: 350px;
    width: 200px;
}
.FooterScendMidel{
    flex-direction: column;
    display: flex;
}
.link-2{
    background: #3fa46a;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 1px ;
    margin:0 10px;
}