.profileDiv{
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    border-color: rgb(2, 162, 60);
    margin: 100px;
    padding: 30px;
    border-radius: 50px;

}
.profileFrom{
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.profileFromDiv{
    flex-direction: row;
    display: flex;
}
.profileFromff{
    font-size: 30px;
}
.profileInput{
    height: 40px;
    width: 400px;
    background-color:transparent;
    border-width: 1px;
    border-radius: 20px;
}
.profileSubmit{
    height: 40px;
    width: 400px;
    border-radius: 20px;
    border: none;
    background-color: rgb(5, 235, 235);
}
.profileImage{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.profileImageDiv{
    height: 210px;
    width: 210px;
    border-radius: 105px;
    border-width: 1.5px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profileNameDiv{
    height: 40px;
    margin-top: 10px;
}