.adminBody {
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 3%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(254, 237, 237);
}
.adminHomeIconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.adminHomeText{
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 1%;
    color: rgb(69, 162, 92);
}
.adminHomeIcon{
    font-size: 23px;
}
.adminHeader{
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #cdd3d8;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.adminLogoutIcon {
    font-size: 30px;
    margin-top: 3px;
    margin-left: 20px;
}
.adminLogoutIcon:hover {
    color: rgb(255, 0, 0);
}
.adminMenuIcon{
    font-size: 23px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}
.adminScendBody{
    display: flex;
    flex-direction: row;
}
.adminLeft{
    height: 600px;
    width: 20%;
    margin-top: 50px;
    margin-left: 10px;
}
.adminRight{
    height: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.adminAddLight{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.adminAddLightBox{
    margin-top: -150px;
}
.adminRightdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminLeftButton{
    background-color: transparent;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    margin-top: -10px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.adminLeftButton:hover{
    color: #3fa46a;
}
.adminLeftButtonIcon{
    font-size: 20px;
    margin-top: -20px;
}
.adminLeftButtonText{
    font-size: 10ox;
    margin-left: 10px;
}








.adminRightTitel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.adminRightTitelIconButton{
    height: 38px;
    margin-left: 20px;
    outline: none;
    border-radius: 10px;
    border-color: white;
    background-color: #3fa46a;
}
.adminRightTitelIconButton:hover{
    background-color: transparent;
}
.adminRightTitelIconBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.adminRightTitelIconBox:hover{
    color: #3fa46a;
}
.adminRightTitelIconDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.adminRightTitelIcon2{
    font-size: 20px;
    margin: 10px;
    margin-top: -10px;
}
.adminRightTitelIcon{
    font-size: 20px;
    margin: 10px;
    margin-top: -4px;
}
.adminRightTitelIcon:hover{
    color: #3fa46a;
}
.adminRightTitelIconP{
    font-size: 20px;
}
.adminRBoxText{
    height: 40px;
    width: 600px;
    margin-top: 20px;
    border: 1px solid rgb(57, 244, 91);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.adminRBoxText2{
    height: 100px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(57, 244, 91);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.adminRDiv1{
    width: auto;
    margin-top: 8px;
    margin-left: 20px;
}
.adminRDiv2{
    width: auto;
    margin-top: 8px;
    margin-left: 20px;
}
.adminPagination{
    margin-bottom: 20px;
    margin-top: 30px;
}


.adminUploadButton{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.adminRightTiteOutput{
    height: 350px;
    width: 700px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #3fa46a;;
}


.adminRightTiteOutputBox{
    height: 345px;
    width: 695px;
}
